.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #e2f3f5;
}

.container {
  padding-top: 15vh;
  height: 100vh;
}

img {
  width: 300px;
  border-radius: 10px;
}

.far {
  color: red;
  cursor: pointer;
  display: inline;
  margin-left: 3px; 
}

.fab {
  color: black;
  padding-top: 8px;
}

button {
  background-color: #22d1ee;
  padding: 15px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 400;
}

.counter {
  padding: 0;
  margin: 0;
  display: inline-block;
}

 @media only screen and (max-width: 40em) {

  * {
    overflow: visible;
  }

  img {
    width: 40vw;
    padding-top: 12vh;
  }
 
  button {
    background-color: #22d1ee;
    padding: 3vw;
    margin: 10px;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  * {
    overflow: visible;
  }

  img {
    width: 50vw;
  }

  button {
    background-color: #22d1ee;
    padding: 15px;
    margin: 10px;
  }
}